@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sora, sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
      height: 100vh;
}

.linktree {
    background-image: url(../background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.linktree::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 20%, #141414 90%, #141414 100%);
    pointer-events: none;
    z-index: 1;
}

.navSimples {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.navSimples>figure>img {
    width: 140px;
}

.navSimples>a>img {
    width: 30px;
}

.treeBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
}

.treeBtn>figure>img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.btnstree {
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 150px;
    gap: 15px;
    flex-direction: column;
    z-index: 2;
}

.btnstree>span {
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.btns {
    justify-content: center;
    display: flex;
    gap: 20px;
    align-items: center;
    z-index: 2;
    border: 1px solid #434343;
    padding: 30px 60px;
    border-radius: 9px;
    background-color: #272727;
    transition: 0.2s ease-in-out;
    min-width: 330px;
}

.btns:hover{
    border: 1px solid #FFDE84;
    background-color: #1d1d1d;

}

.btns>a {
    font-weight: 400;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.contentTree {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentTree>.boxTree>figure>img {
    width: 400px;
}

.btns > figure > img {
    width: 28px;
    height: 28px;
}

.linhaStyle {
    display: flex;
    width: 100%;
    height: 20px;
    background: #A98300;
    background: linear-gradient(90deg, rgba(169, 131, 0, 1) 0%, rgba(255, 222, 132, 1) 50%, rgba(144, 105, 2, 1) 100%);
    z-index: 99999;
}

@media (max-width: 425px) {
    .treeBtn>figure>img {
        width: 350px;
    }

    .linktree::before {
        background: linear-gradient(to bottom, transparent 20%, #141414 85%, #141414 100%);
    }
}

@media (max-width: 360px) {
    .treeBtn>figure>img {
        width: 300px;
    }

    .btns {
        padding: 25px 45px;
        min-width: 300px;
    }
}